PRODUCTION = False
DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Your Name Here', 'you@example.com'),
)
MANAGERS = ADMINS

SECRET_KEY = 'someSecretsHere2131233jjjj222'

TIME_ZONE = 'America/Vancouver'
LANGUAGE_CODE = 'en-us'

WEB_SOCKETS_PORT = 9876

#CACHE_BACKEND = 'dummy:///'
CACHE_BACKEND = 'locmem:///'

DATABASE_ENGINE = 'postgresql_psycopg2' 
DATABASE_NAME = 'spaciblo'
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = ''
DATABASE_HOST = ''
DATABASE_PORT = ''