{% extends "base.html" %}

{% block style%}
canvas { border: solid 1px #EEE; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_math.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_input.js"></script> 
{% endblock %}

{% block script %}
var gameRenderer = null;
var gameScene = null;

function parseArray(data){
	var result = [];
	currentArray = data.split(",");
	for(i = 0; i < currentArray.length; i++) result.push(currentArray[i]);
	return result;
}

$(document).ready(function() {
	GLGE.error = function(message){ console.error(message);};
	gameRenderer = new GLGE.Renderer(document.getElementById('canvas'));
	
	var material = new GLGE.Material(GLGE.Assets.createUUID());
	material.setColor("green");
	material.setSpecular(1);
	material.setShininess(20);
	
	var mesh = new GLGE.Mesh(GLGE.Assets.createUUID());
	mesh.setPositions(parseArray("1.000,1.000,0.000,-1.000,1.000,0.000,-1.000,-1.000,0.000,1.000,1.000,0.000,-1.000,-1.000,0.000,1.000,-1.000,0.000"));
	mesh.setNormals(parseArray("-0.000,0.000,1.000,-0.000,0.000,1.000,-0.000,0.000,1.000,0.000,-0.000,1.000,0.000,-0.000,1.000,0.000,-0.000,1.000"));
	mesh.setUV(parseArray("0.000,0.000,1.000,0.000,1.000,1.000,0.000,0.000,1.000,1.000,0.000,1.000"));
	mesh.setFaces(parseArray("0,1,2,3,4,5"));
	
	var obj = new GLGE.Object(GLGE.Assets.createUUID());
	obj.id = "groundMesh"
	obj.setMesh(mesh);
	obj.setMaterial(material);
	obj.setRotX(-1.57);
	obj.setScale(2);
	
	var light1 = new GLGE.Light(GLGE.Assets.createUUID());
	light1.setLocX(-3);
	light1.setLocY(15)
	light1.setLocZ(-7);
	light1.setAttenuationQuadratic(0.00001);
	light1.setAttenuationLinear(0.00000001);
	light1.setAttenuationConstant(1);
	light1.setType(GLGE.L_POINT);

	var light2 = new GLGE.Light(GLGE.Assets.createUUID());
	light2.setLocX(3);
	light2.setLocY(15)
	light2.setLocZ(-7);
	light2.setAttenuationQuadratic(0.00001);
	light2.setAttenuationLinear(0.00000001);
	light2.setAttenuationConstant(1.5);
	light2.setType(GLGE.L_POINT);
	
	var camera = new GLGE.Camera(GLGE.Assets.createUUID());
	camera.setLocZ(7);
	camera.setLocY(4.0);
	camera.setFovY(35);
	camera.setRotX(-0.5);
	
	gameScene = new GLGE.Scene();
	gameScene.setAmbientColor("#555");
	gameScene.setBackgroundColor("#338");
	gameScene.setCamera(camera);
	gameScene.addLight(light1);
	gameScene.addChild(obj);
	gameRenderer.setScene(gameScene);
	console.log(gameRenderer.scene);

	gameRenderer.render();
	setInterval(function(){gameRenderer.render()},10);
});


{% endblock %}

{% block content%}
<h1>Scratch</h1>

<canvas id="canvas" width="900"height="300"></canvas>

{% endblock %}
