{% extends "front/base.html" %}

{%block sub-title%}Simulator Pools | {% endblock %}

{% block style%}
#content ul { margin-left: 15px; }
{% endblock %}

{% block sub-head %}
{% endblock %}

{% block content%}
<h1>Simulator Pools:</h1>

{% for simulator_pool_reg in simulator_pool_regs %}
<h2>{{ simulator_pool_reg.ip}}:{{ simulator_pool_reg.port }}:</h2>
	{% for key, value in simulator_pool_reg.pool_info.items %}
	{% if key == 'space_infos' %}
	<ul>
		{% for space_info in value %}
		<li><a href="{{ space_info.url }}">{{ space_info.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
{% endfor %}
{% endblock %}
