{% extends "base.html" %}

{% block style%}
.thing-div { display: block; }
{% endblock %}

{% block sub-head %}
<script src="{{MEDIA_URL}}spaciblo/jquery-1.3.js"></script>
<script src="{% url sim.views.spaciblo_js %}"></script>
{% endblock %}

{% block script %}

var space_client = null;

function initialize(){
	space_client = new Spaciblo.SpaceClient({{ space.id }});
	space_client.open_handler = function() { console.log('opened connection'); space_client.authenticate(); };
	space_client.close_handler = function() { console.log('closed connection'); };
	space_client.authentication_handler = handle_client_auth;
	space_client.join_space_handler = handle_join_space;
	space_client.user_message_handler = function() {};
	space_client.suggest_render_handler = function() {};
	space_client.open();
}

function handle_client_auth(successful){
	if(!successful){
		console.log("Could not auth.");
		return;
	}
	console.log("Authenticated");
	space_client.joinSpace();
}

function handle_join_space(successful){
	if(!successful){
		console.log("Could not join the space.");
		return;
	}
	console.log('Joined space ' + space_client.space_id);
	setInterval(tick, 250);
}
function tick(){
   try {
      var thingsDiv = $("#things-div");
      var things = space_client.scene.thing.listThings();
      for(var i=0; i < things.length; i++){
         var thingDiv = $("#thing-" + things[i].id);
         if(thingDiv.length == 0) {
            thingsDiv.add('div').attr('id', 'thing-' + things[i].id).css('border', 'solid 4px #EEE');
            thingDiv = $("#thing-" + things[i].id);
         }
         thingDiv.html('Thing ' + things[i].id);
      }
   } catch (e){
      console.log(e);
   }
}

$(document).ready(initialize);

{% endblock %}

{% block content%}
<div id="things-div">
</div>
{% endblock %}
