{% extends "base.html" %}

{%block sub-title%}{{ space.name }} | {% endblock %}

{% block style%}
.space-viewer {
	width: 800px;
}
.sv-renderer {
	background-color: #FFF;
	border: solid 1px #000;
	width: 800px;
	height: 200px;
}
.sv-message-panel {
	margin: 5px 0px;
	padding: 5px 5px;
	width: 788px;
	height: 150px;
	border: solid 1px #345;
	overflow: auto;
}
#key-catcher { width: 0px; height: 0px; z-index: -10; position: relative; top: 30px; left: 30px;}
.user-message{
	margin: 0 0 5px 0;
}
.space-viewer input[type='text'] { width: 745px; }
.space-viewer input [type='submit'] { width: 40px; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_math.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_input.js"></script> 
<script src="{% url sim.views.spaciblo_js %}"></script>
{% endblock %}

{% block script %}

GLGE.error = function(message){ console.error(message);};

var space_client = null;
var sv_canvas = null;
var input_manager = null;

// Temp
var mouse = null;
var mouseovercanvas = false;
var now = parseInt(new Date().getTime());
var lastTime = parseInt(new Date().getTime());

function initialize(){
	sv_canvas = new SpacibloRenderer.Canvas('canvas');
	space_client = new Spaciblo.SpaceClient({{ space.id }}, sv_canvas);
	space_client.open_handler = handle_client_open;
	space_client.close_handler = handle_client_close;
	space_client.authentication_handler = handle_client_auth;
	space_client.join_space_handler = handle_join_space;
	space_client.user_message_handler = user_message_handler;
	space_client.suggest_render_handler = function() {};
	space_client.open();
	$("#key-catcher").focus();

	mouse = new GLGE.MouseInput(document.getElementById('canvas'));
	document.getElementById("canvas").onmouseover=function(e){mouseovercanvas=true;}
	document.getElementById("canvas").onmouseout=function(e){mouseovercanvas=false;}
}

function handle_client_open(){
	space_client.authenticate();
}

function handle_client_close(){
	if(sv_canvas != null) sv_canvas.close();
}

function handle_client_auth(successful){
	if(!successful){
		console.log("Could not auth.");
		return;
	}
	space_client.joinSpace();
}

function handle_join_space(successful){
	if(!successful){
		console.log("Could not join the space.");
		return;
	} else {
	   console.log("Joined the space.");
	}
	if(sv_canvas.initialize(space_client.sceneJson, space_client.username)){
		space_client.scene = sv_canvas.scene;
		setupInput();
		setInterval(tick, 25);
		//space_client.addUser(Spaciblo.defaultPosition, Spaciblo.defaultOrientation);
	} else {
		console.log("Could not initialize the renderer");
	}
}

function setupInput(){
	input_manager = new SpacibloInput.InputManager(space_client);
	input_manager.add_event_source($("#key-catcher"));
	$("#key-catcher").focus();
	$("#sv-canvas").click(function(event){ $("#key-catcher").focus(); });
	$("#key-catcher").keypress(function(event){
		if(event.keyCode == 13){ $("#command-input").focus(); }
	});
	$("#key-catcher").keydown(function(event){
		if(event.keyCode == 191){
			$("#command-input").focus();
			$("#command-input").value = "/";
		}
	});
	$("#command-input").keydown(function(event){
		if(event.keyCode == 27 /* escape */) $("#key-catcher").focus();
	});
}

function tick() {
	now = parseInt(new Date().getTime());
	mouselook();
	sv_canvas.render();
	lastTime = now;
}

function user_message_handler(username, message){
	var messagePanel = document.getElementById('sv-message-panel');
	messagePanel.innerHTML = '<div class="user-message"><span class="user-message-username">' + username + '</span>: <span class="user-message-text">' + message + '</span></div>' + messagePanel.innerHTML;
}

function handle_command_input(){
	var input = document.getElementById('command-input');
	var value = input.value;
	input.value = "";
	
	if(value == "/close"){
		space_client.close();
		return;
	} else if(value == "/loc"){
		var camera = space_client.scene.camera;
		var mess = '[' + camera.locX + ', ' + camera.locY + ', ' + camera.locZ + '] [' + camera.rotX + ', ' + camera.rotY + ', ' + camera.rotZ + ']';
		user_message_handler('system', mess);
	} else if (value == "/scene"){
	   console.dir(space_client.scene);
	} else if(value.length > 0){
		space_client.sendUserMessage(value);
	}
	
	$("#key-catcher").focus();
}

function mouselook(){
	if(mouseovercanvas){
		var containerElement = document.getElementById("sv-1");
		var canvasElement = document.getElementById('canvas');
		var mousepos = mouse.getMousePosition();
		mousepos.x = mousepos.x - containerElement.offsetLeft;
		mousepos.y = mousepos.y - containerElement.offsetTop;

		var camera = space_client.scene.camera;
		var camerarot = camera.getRotation();
		if(isNaN(camerarot.x)){
			return;
		}

		var inc = (mousepos.y - (canvasElement.offsetHeight / 2)) / 500;
		var trans = GLGE.mulMat4Vec4(camera.getRotMatrix(), [0,0,-1,1]);
		var mag = Math.pow(Math.pow(trans[0],2) + Math.pow(trans[1],2), 0.5);

		trans[0] = trans[0] / mag;
		trans[1] = trans[1] / mag;

		camera.setRotX(1.56 - trans[1]*inc);
		camera.setRotZ(-trans[0]*inc);
		var width = canvasElement.offsetWidth;
		if(mousepos.x < width*0.3){
			var turn = Math.pow((mousepos.x-width*0.3)/(width*0.3),2)*0.005*(now-lastTime);
			camera.setRotY(camerarot.y+turn);
		}
		if(mousepos.x > width*0.7){
			var turn = Math.pow((mousepos.x-width*0.7)/(width*0.3),2)*0.005*(now-lastTime);
			camera.setRotY(camerarot.y-turn);
		}
	}
}


$(document).ready(initialize);

{% endblock %}

{% block content%}
<input type="text" id="key-catcher" size="1" />
<div id="sv-1" class="space-viewer">
	<canvas id="canvas" class="sv-renderer" width="800" height="300"></canvas>
	<div id="sv-message-panel" class="sv-message-panel">&nbsp;</div>
	<form onsubmit="handle_command_input(); return false;">
		<input type="text" id="command-input" name="command-input" /><input type="submit" name="send" value="send" />
	</form>
</div>
{% endblock %}
