{% extends "front/base.html" %}
{% load imagetags %}
{%block sub-title%}{{ template.name }} | {% endblock %}

{% block style%}
{% endblock %}

{% block sub-head %}
{% endblock %}

{% block content%}
<h1>{{ template.name }}:</h1>

<h2>Assets:</h2>
<table>
{% for template_asset in template.templateassets.all %}
	<tr>
		<th>{{ template_asset.key }}</th>
		<td>
			<a href="{{ template_asset.asset.file.url }}">raw</a>
			{% ifequal template_asset.asset.type "texture" %}
				<br/><img src="{{ template_asset.asset.file.url|fit_image:"300x300" }}" />
			{% endifequal %}
		</td>
		<td>
			{% if template_asset.asset.prepped_file %}
			<a href="{{ template_asset.asset.prepped_file.url }}">prepped</a>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</ul>
{% endblock %}
