{% extends "base.html" %}

{%block sub-title%}Tests | {% endblock %}

{% block style%}
#test-canvas { border: solid 1px #eee; margin-top: 20px; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_math.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge.js"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}glge/glge_input.js"></script> 
<script src="{% url sim.views.spaciblo_js %}"></script>

<link rel="stylesheet" href="{{ MEDIA_URL }}qunit/qunit.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}qunit/qunit.js"></script>
{% endblock %}

{% block script %}

function runTests(){
	module("Renderer");

	test("initialization tests", function(){
		var spaceJSON = null;
		$.ajax({ 
			type: "GET",
			async: false,
			url: "/api/sim/space/1/scene/",
			dataType: "json",
			success: function(jsonData) { spaceJSON = jsonData; }
		});
		ok(spaceJSON, "Fetched the space JSON");
		var sv_canvas = new SpacibloRenderer.Canvas('test-canvas');
		ok(sv_canvas, "The canvas exists");
		ok(sv_canvas.initialize(spaceJSON, 'trevor'), "Initialized the canvas");
		sv_canvas.render();
	});

	module("Events");
   
	test("serialization tests", function(){
		var event = new SpacibloEvents.JoinSpaceRequest(32);
		var event_json = event.toJSON();
		var event_json_data = JSON.parse(event_json);
		var parsed_event = SpacibloEvents.rehydrateEvent(event_json_data);
		equals(event.space_id, parsed_event.space_id, 'Event space ids are equal');
		event = new SpacibloEvents.AuthenticationResponse('someone');
		event_json = event.toJSON()
		event_json_data = JSON.parse(event_json)
		parsed_event = SpacibloEvents.rehydrateEvent(event_json_data);
		equals(event.username, parsed_event.username, 'Event username is equal');
	});
   
   module("Asset Manager");
   
	test("load valid geometry", function(){
		var assetManager = new SpacibloRenderer.AssetManager(
			function(image, path){ },
			function(template){ },
			function(templateID, templateAssetID, geometry){
				ok(templateID == 2, "Template id: " + templateID);
				ok(templateAssetID, "templateAssetID");
				ok(geometry, "Geometry");
				ok(typeof geometry['children'] == 'undefined', "Cube should have no children: " + geometry['children']);
				ok(geometry.mesh.positions.length == 54, "Cube should have 54 vertices: " + geometry.mesh.positions.length);
				start();
			}
		);
		assetManager.getOrCreateTemplate(2);
		stop();
	});

	test("load bigger geometry", function(){
		var assetManager = new SpacibloRenderer.AssetManager(
			function(image, path){ },
			function(template){ },
			function(templateID, templateAssetID, geometry){
				ok(templateID == 3, "Image id: " + templateID);
				ok(templateAssetID, "templateAssetID");
				ok(geometry, "Geometry exists");
				ok(typeof geometry['mesh'] == 'undefined', "Geometry has no mesh");
				ok(geometry.children.length == 40, "Glass house should have 40 children.");
				ok(geometry.children[0].material.color[0] = 0.8, "The first material should have color: " + geometry.children[0].material.color[0]);
				start();
			}
		);
		assetManager.getOrCreateTemplate(3);
		stop();
	});

   test("load beanie geometry", function(){
      var assetManager = new SpacibloRenderer.AssetManager(
         function(image, path){ },
         function(template){ },
         function(templateID, templateAssetID, geometry){
            ok(templateID == 1, "Incorrect image id: " + templateID);
            ok(templateAssetID, "No templateAssetID");
            ok(geometry, "No Geometry");
            ok(geometry.mesh.positions.length == 828, "The geometry should have 828 vertices: " + geometry.mesh.positions.length);
            ok(geometry.mesh.UV.length == 550, "The geometry should have 550 uvs: " + geometry.mesh.UV.length);
            ok(geometry.mesh.normals.length == 825, "The geometry should have 825 normals: " + geometry.mesh.normals.length);
            start();
         }
      );
      assetManager.getOrCreateTemplate(1);
      stop();
   });

   test("load valid image", function(){
      var testImagePath = "/media/spaciblo/Spaciblo-Logo.jpg"
      var assetManager = new SpacibloRenderer.AssetManager(function(image, path){
            ok(image != null, "A valid image could not be loaded");
            ok(path == testImagePath, "The image path was not valid: " + path);
            ok(image == assetManager.getImage(testImagePath), "Could not get the already loaded image.");
            ok(assetManager.images[path].image = image, "assetManager images had incorrect path");
            start();
         }, function(template){}, function(templateID, templateAssetID, geometry){}
      );
      assetManager.loadImage(testImagePath);
      stop();
   });

   test("load invalid image", function(){
      var testImagePath = "/media/DoesNotExist.jpg"
      var assetManager = new SpacibloRenderer.AssetManager(function(image, path){
         ok(image == null, "A invalid image should be null");
         ok(path == testImagePath, "The image path was not valid: " + path);
         ok(assetManager.getImage(testImagePath) == null, "Received non-null for invalid get_image: " + assetManager.getImage(testImagePath));
         start();
      }, function(template){}, function(templateID, templateAssetID, geometry){});
      assetManager.loadImage(testImagePath);
      stop();
   });
   
   test("load template", function(){
      // right now the asset manager just creates them on demand, so let's test that
      var assetManager = new SpacibloRenderer.AssetManager(function(image, path){}, function(template){}, function(templateID, templateAssetID, geometry){});
      var template1 = assetManager.getTemplate(1);
      ok(template1 == null, "Should not have a template at this point");
      template1 = assetManager.getOrCreateTemplate(1);
      ok(template1 != null, "Should have created a template.");
      ok(template1 == assetManager.getOrCreateTemplate(1), "Should have returned the previously created template");
   });
}

$(document).ready(runTests);

{% endblock %}

{% block content%}
<h1 id="qunit-header">Sim Browser Tests</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<canvas id="test-canvas" width="400" height="150"></canvas>

{% endblock %}
