{% extends "base.html" %}

{%block sub-title%}Tests | {% endblock %}

{% block style%}
{% endblock %}

{% block sub-head %}
<script src="{{ MEDIA_URL }}spaciblo/jquery-1.3.js"></script>
<script src="{% url sim.views.spaciblo_js %}"></script>

<link rel="stylesheet" href="{{ MEDIA_URL }}qunit/qunit.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}qunit/qunit.js"></script>
{% endblock %}

{% block script %}

function runTests(){
   module("Events");
   
   test("serialization tests", function(){
      var event = new SpacibloEvents.JoinSpaceRequest(32);
      var event_json = event.toJSON()
      var event_json_data = JSON.parse(event_json)
      var parsed_event = Spaciblo.rehydrateEvent(event_json_data);
      equals(event.space_id, parsed_event.space_id, 'Event space ids are not equal');

      event = new SpacibloEvents.AuthenticationResponse('someone');
      event_json = event.toJSON()
      event_json_data = JSON.parse(event_json)
      parsed_event = Spaciblo.rehydrateEvent(event_json_data);
      equals(event.username, parsed_event.username, 'Event username are not equal');
      
      var color = new SpacibloScene.Color("1,0.5,0.1");
      equals(color.red, 1);
      equals(color.green, 0.5);
      equals(color.blue, 0.1);
   });
   
   module("Asset Manager");
   
   test("load valid image", function(){
      var testImagePath = "/media/spaciblo/Spaciblo-Logo.jpg"
      var assetManager = new Spaciblo.AssetManager(function(image, path){
         ok(image != null, "A valid image could not be loaded");
         ok(path == testImagePath, "The image path was not valid: " + path);
         ok(image == assetManager.getImage(testImagePath), "Could not get the already loaded image.");
         ok(assetManager.images[path].image = image, "assetManager images had incorrect path");
         start();
      });
      assetManager.loadImage(testImagePath);
      stop();
   });

   test("load invalid image", function(){
      var testImagePath = "/media/DoesNotExist.jpg"
      var assetManager = new Spaciblo.AssetManager(function(image, path){
         ok(image == null, "A invalid image should be null");
         ok(path == testImagePath, "The image path was not valid: " + path);
         ok(assetManager.getImage(testImagePath) == null, "Received non-null for invalid get_image: " + assetManager.getImage(testImagePath));
         start();
      });
      assetManager.loadImage(testImagePath);
      stop();
   });
   
   test("load template", function(){
      // right now the asset manager just creates them on demand, so let's test that
      var assetManager = new Spaciblo.AssetManager(function(image, path){});
      var template1 = assetManager.getTemplate(1);
      ok(template1 == null, "Should not have a template at this point");
      template1 = assetManager.getOrCreateTemplate(1);
      ok(template1 != null, "Should have created a template.");
      ok(template1 == assetManager.getOrCreateTemplate(1), "Should have returned the previously created template");
   });
}

$(document).ready(runTests);

{% endblock %}

{% block content%}
<h1 id="qunit-header">QUnit example</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
{% endblock %}
