<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{%block sub-title%}{% endblock %}Spacibl&#333;{% endblock %}</title>
   <meta name="description" content="{% block meta-description %}{% endblock %}" />

	<link rel="shortcut icon" href="{{MEDIA_URL}}favicon.gif" />
	<link href="{{ MEDIA_URL }}base.css" rel="stylesheet" type="text/css" />

<!--[if IE]>
	<script src="{{ MEDIA_URL }}js/html5.js"></script>
<![endif]-->
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/js/jquery-ui-1.8.2.custom.min.js"></script>

	<style>
{% block style %}{% endblock %}
	</style>
{% block sub-head %}{% endblock %}

<script>
{% block script %}{% endblock %}
</script>
</head>
<body>{% block body %}
{% block header %}
<div id="header">
   <div id="top-nav">
      [
         <a href="{% url front.views.index %}">home</a> |
         <a href="{% url front.views.about %}">about</a> |
         <a href="{% url front.views.tech %}">tech</a> |
         <a href="http://blog.spaciblo.org/">blog</a> |
      {% if request.user.is_authenticated %}
         {% if request.user.is_staff %}
         <a href="{% url admin:index %}">admin</a> |
         {% endif %}
	      <a href="{% url person.views.profile request.user.username %}">profile</a> |
         <a href="{% url django.contrib.auth.views.logout_then_login %}">logout</a>
      {% endif %}
      {% if not request.user.is_authenticated %}
         <a href="{% url django.contrib.auth.views.login %}">login</a>
      {% endif %}
      ]
   </div>
   <a href="{% url front.views.index %}"><img src="{{MEDIA_URL}}spaciblo/Spaciblo-Logo-210x47.png" width="210" height="47" alt="Spaciblo" /></a>
</div>
{% endblock %}
<div id="content">
{% block content %}{% endblock %}
</div>
<div id="footer">
   {% block footer %}{% endblock %}
</div>
{% endblock %}</body>
</html>
