{% extends "base.html" %}

{% block sub-head %}
{% endblock %}

{% block style %}
#login-form { width: 240px; }
#login-form th { padding-right: 10px; }
#login-form td { padding-bottom: 10px; }
#login-form input[type=submit] { float: right; }
{% endblock %}

{% block content%}
<h2>Login:</h2>

{% if form.errors %}
<p>Your username and password didn't match.</p>
{% endif %}

<form id="login-form" method="post" action=".">
<table>
<tr><th>{{ form.username.label_tag }}:</th><td>{{ form.username }}</td></tr>
<tr><th>{{ form.password.label_tag }}:</th><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
