{% extends "base.html" %}

{% block sub-title %}About | {% endblock %}

{% block style%}
h3 + p { margin-bottom: 25px; }
#content li { list-style: square outside; margin: 0 0 10px 15px; }
#content li strong { font-weight: bold; margin-bottom: 5px; display: block; }
#content li p { margin-top: 10px; }
{% endblock %}

{% block content%}
<h1>About:</h1>

<p>The Spacibl&#333; project is creating a set of tools which enable web based social spaces.  While the lessons from urban planning, architecture, virtual worlds and online games are relevant and considered, this project uses the social and technological patterns of the web as its starting points.</p>

<p>Just as pages made the jump to the web but books did not, the core idea of this project is the space, not the world.  These spaces are viewed as just another part of a web page, along with text, images, video, and audio.</p>

<a name="concepts"></a>
<h2>Elements of a space:</h2>

<p>The <a href="{% url front.views.tech %}">tech page</a> has low level details, but here is the 500 foot view.</p>

<ul>
   <li><strong>Space</strong>
      A three dimensional Newtonian space of varied size, from cupboard to planet.  Multiple people can walk around, chat with each other, and interact with things in the space.
      
      <p>Just as pages jumped to the web but books did not, spaces on the web need not be arranged as a flat or round world but instead can be linked in a multitude of ways using hypertext.</p>
   </li>
   <li><strong>Thing</strong>
      <p>A web application with dynamic 2D and 3D visual components.</p>
      <p>For example, a thing might be a sculpture of a city which changes size according to stock prices and reacts to people as they approach. It provides a web API which the artist uses to track its state.  It also provides a 2D UI showing the artist's statement and a link to her portfolio.  The geometry, textures, animations, and the rest are all resources on the web and can be read and manipulated using standard web toolkits.</p>
      <p>A person's body is a special type of thing which moves with a view of a space.</p>
   </li> 
   <li><strong>Template</strong>
      <p>A set of files which can be used to create a thing in a space, including geometries, textures, skeletons, and animations.</p>
      <p>Because things in Spacibl&#333; spaces are web applications, templates also define the web request handlers, HTML, and persistence models which make up its 2D UI and web APIs.</p>
   </li>
   <li><strong>Portal</strong>
      A visual link from one space to another.  This could be a door, a sign, or even a key.
   </li>
   <li><strong>Facade</strong>
      <p>A template provided by a remote space to be used as a portal.</p>
      <p>A solar system space could provide an airlock door as a facade.</p>
      <p>An architect's office space could provide a facade with a lovingly detailed stone archway.</p>
   </li>
</ul>

{% endblock %}
