{% extends "base.html" %}

{% block meta-description %}A Toolkit for Social Spaces on the Web, using WebGL, WebSockets, Django, and HTML5.{% endblock %}

{% block style%}
#content li { list-style: square outside; margin: 0 0 10px 15px; }
#content li strong { font-weight: bold; margin-bottom: 5px; }
#content h2 { margin-top: 15px; }
{% endblock %}

{% block content%}
<h1>A Toolkit for Social Spaces on the Web</h1>

<h2>The spaces are:</h2>
<ul class="feature-list">
   <li>
      <strong>Social:</strong>
      meet and chat with other people
   </li>
   <li>
      <strong>Web based:</strong>
      instant on with no installation
   </li>
</ul>

<h2>The tools are:</h2>
<ul class="feature-list">
   <li>
      <strong>Open:</strong>
      freely licensed and <a href="http://github.com/spaciblo/spaciblo/">developed in public</a>
   </li>
   <li>
      <strong>Standards based:</strong>
      <a href="{% url front.views.tech %}">welcome home</a>, webheads
   </li>
</ul>

{% endblock %}
