{% extends "base.html" %}

{% block sub-title %}Invite | {% endblock %}

{% block style %}
	
#registration-form th { padding-bottom: 25px; padding-right: 10px; }	
{% endblock %}

{% block content%}
<h1>Invite:</h1>

{% if invite.sent_to %}
	{% if invite.used_by %}
		<p>It appears that this invite has been claimed.</p>
		<p>If you claimed it then you can login (or retrieve a lost password) on our <a href="{% url django.contrib.auth.views.login %}">login page</a>.</p>
	{% else  %}
		{% if request.user.is_authenticated %}
			<p>It appears that you're already logged in.  If you'd like to claim this invite you'll need to log out.</p>
		{% else %}
			<h2>Claim your invite by registering:</h2>
			<form id="registration-form" action="." method="post">
				<table>
					{{ registration_form }}
					<tr><td colspan="2"><input type="submit" value="register" /></td>
				</table>
			</form>
		{% endif %}
	{% endif %}
{% else %}
		<p>We have no record that this invite has been sent.</p>
{% endif %}

{% endblock %}
