{% extends "base.html" %}

{% block sub-head %}
<style type="text/css">
#login-form th { padding-right: 5px; }
#login-form td { padding-bottom: 10px; }
</style>
{% endblock %}
	
{% block content%}
<h2>Login:</h2>

{% if form.errors %}
<p>Your username and password didn't match.</p>
{% endif %}

<form id="login-form" method="post" action=".">
<table>
<tr><th>{{ form.username.label_tag }}:</th><td>{{ form.username }}</td></tr>
<tr><th>{{ form.password.label_tag }}:</th><td>{{ form.password }}</td></tr>
<tr><td colspan="2" style="text-align: right;">
	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</td></tr>
</table>
</form>

<p style="margin-top: 20px;">Don't remember your password?  Try our <a href="{% url person.views.password_reset %}">password reset page</a>.</p>

{% if open_registration %}
<p style="margin-top: 20px;">Don't have an account yet?  Try our <a href="{% url person.views.register %}">registration page</a>.<br/>It's quick, we promise.</p>
{% endif %}

{% endblock %}
