{% extends "base.html" %}

{% block sub-title %}Password Reset | {% endblock %}

{% block sub-style %}
#pw-instructions {
	padding-left: 10px;
	width: 325px;
	margin-bottom: 20px;
}
#password-reset-form {
	text-align: right;
	width: 325px;
}
#password-reset-form input[type=submit]{
	margin-top: 15px;
}
#id_email, #id-password {
	width: 250px;
}
.errorlist {
	color: #D00;
}
#pw-error-message {
	color: #D00;
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 10px;
}
{% endblock%}

{% block content%}
<h1>Password Reset:</h1>
{% if error_message %}<h2 id="pw-error-message">{{ error_message }}</h2>{% endif %}
	{% if request.user.is_authenticated %}
		<p>You are already logged in.  If you'd like to log out, try the <a href='{% url django.contrib.auth.views.logout_then_login %}'>logout link</a>.</p>
	{% else %}
		{% if request.GET.secret %}
			{% if new_password %}
				<p id="new-password-instructions">Your new password: {{ new_password }}</p>
				<p>Use this password to log in from the <a href='{% url django.contrib.auth.views.login %}'>login page</a>.</p>
			{% else %}
				<!-- hopefully there is an error message above -->
			{% endif %}
		{% else %}
			{% if wait_for_it and not error_message %}
				<p id="pw-instructions">We just sent an email with a link which will allow you to reset your password.</p> 
				<p><strong>If you don't receive the email in 15 minutes, please check your spam folder.</strong></p>
			{% else %}
				<p id="pw-instructions">Enter the email address associated with your account and click "reset your password".</p>
				<p>We will email a link which will allow you to reset your password.</p>
				<p><strong>If you don't receive the email in 15 minutes, please check your spam folder.</strong></p>
				<form id="password-reset-form" action="" method="post">
					{{ password_reset_form.as_p }}
					<input type="submit" tabindex="2" value="reset your password" />
				</form>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
