{% extends "base.html" %}

{% block sub-title %}Profile for {{ profile.full_name }} | {% endblock %}

{% block sub-head %}
<script type="text/javascript">
function profileInitialize(){
	$("#profile-tabs").tabs();
	setTimeout("hideMessage();", 5000);
}
$(document).ready(profileInitialize);

function hideMessage(){
	$("#message").hide("slide", { direction: "down" }, 1000);
}
</script>
{% endblock %}

{% block style %}
#profile-form th { vertical-align:top; }
#profile-form td { padding-bottom: 20px; }
#message { background-color: #ff7a00; padding: 10px 10px; }
{% endblock %}

{% block content%}
{% if message %}<h2 id="message">{{ message|safe }}</h2>{% endif %}
{% ifequal request.user.username profile.user.username %}
	<div id="profile-tabs">
	    <ul>
	        <li><a href="#edit-view"><span>Edit Profile</span></a></li>
	        <li><a href="#edit-photo"><span>Edit Photo</span></a></li>
	        <li><a href="#change-password"><span>Change Password</span></a></li>
	    </ul>
		<div id="edit-view">
			{% include "person/profile_form.frag" %}
		</div>
		<div id="edit-photo">
			{% include "person/photo_form.frag" %}
		</div>
	    <div id="change-password">
			{% include "person/password_change.frag" %}
		</div>
	</div>
{% else %}
	{% include "person/person_info_large.frag" %}
{% endifequal %}
{% endblock %}
